{
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    "transform-runtime"
  ],
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "node": 4
      },
    }]
  ],
}
