{
  "env": {
    "development": {
      "presets": ["es2015"],
      "plugins": [
        "syntax-async-functions",
        "transform-regenerator",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types",
      ]
    },
    "es": {
      "plugins": [
        "syntax-async-functions",
        "transform-regenerator",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types",
      ]
    }
  }
}
