{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "cjs": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": 6
          }
        }]
      ]
    },
    "mjs": {
      "plugins": ["@babel/plugin-proposal-class-properties"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "8.0.0"
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "esm": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": 6
          },
          "loose": true,
          "modules": false
        }]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
