{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "arrow-body-style": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*-test.js"]}],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }],
    "arrow-parens": 0
  },
  "env": {
    "jasmine": true,
    "jest": true
  },
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "Class": true,
    "Iterator": true,
  },
}
