{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "arrow-body-style": 0,
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*-test.js"]}]
  },
  "env": {
    "jasmine": true,
    "jest": true
  },
  "plugins": [
    "flowtype"
  ]
}
